.container {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    gap: 15px;
}

.highlight {
    font-style: italic;
    font-weight: 600;
}

.panel {
    max-width: 70%;
    color: whitesmoke;
    background-color: #050918;
    border-radius: 8px;
    padding: 0 15px;
}

img {
    max-width: 200px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .panel {
        width: 90%;
        margin-top: auto;
    }

    img {
        margin-top: auto;
    }

}

@media (min-width: 359px) and (max-width: 400px) {
    
    .container {
        position: relative;
        top: 170px;
    }

    img {
        margin-top: auto;
    }

    .panel {
        margin-bottom: auto;
    }
}



