body {
    display: inline-flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    gap: 15px;
}

.highlight {
    font-style: italic;
    font-weight: 600;
}

.panel {
    width: 55%;
    color: whitesmoke;
    background-color: #050918;
    border-radius: 8px;
    padding: 15px;
}

.photo {
    width: 35%;
}

img {
    border-radius: 8px;
    width: 100% ;
}

@media (max-width: 600px) {
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .panel {
        width: 90%;
    }
    .photo {
        width: 55%
    }
}

