body {
    background-color: #F7FFE5;
    font-family: monospace;
}

.container-color {
    background-color: #D6E8DB;
}
.footer-links {
    width: 50%;
}

.hello{
    font-family: 'Kablammo', cursive;
    color: #7a49a5
}

@media (max-width: 412px) {
    .footer-links {
        width: 100%;
        margin: 0 15px;
    }
}
